doctype html
html
  head
    title Paste
    link(rel="stylesheet", href="/css/app.css")
  body.hljs
    header
      .data
        .item#language
          = paste.languageName
        if paste.lineCount > 16
          .item
            = paste.lineCount
            |  lines
        if paste.kbSize > 1
          .item
            | !{paste.kbSizeText}
        .item
          = paste.ttlText
          sup
            acronymn(title="Time to Live") TTL
        .tools
          .item
            a(href=`/p/${paste.key}/raw`) raw
    section.code
      pre(class=`lineNumbers`)
        code(class=`hljs`)
          != paste.lineCount.toString().split("").map((x) => "&nbsp;").join("")
      pre
        code(class=`hljs lang-${paste.language}`)
          = paste.content
    include ../includes/footer.pug

    script(src="/js/highlight.js")
    script(src="/js/bundle.js")
    script
      | app.pasteShow();
