doctype html
html
  head
    title Paste
    link#hljsTheme(rel="stylesheet", href=`/css/v/${theme}`)
    link(rel="stylesheet", href="/css/main.css")
  body.simple
    h1 500
    h2 Internal Server Error
    p Something bad and unexpected happened. So sorry.
