* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
}
body.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body.editor section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body.editor footer {
  position: relative;
}
body.editor form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
body.editor footer.hljs {
  display: none;
}
body.hljs {
  margin: 0;
  padding: 0;
}

em, sup {
  padding-left: 2px;
  opacity: 0.8;
}

header {
  padding: 12px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
header a {
  color: #69c;
}
header .item {
  display: inline-block;
  padding: 3px 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.5);
}
header .tools {
  float: right;
  padding-top: 2px;
  margin-right: 120px;
}

footer {
  padding: 12px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  position: fixed;
  bottom: 0;
  opacity: 1;
  width: 100%;
  padding: 20px 35px;
}
footer a {
  color: #69c;
}
footer.hljs {
  padding: 20px 20px;
}

#toolbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: hsla(0, 0%, 100%, 0.1);
  background: rgba(0, 0, 0, 0.2);
  padding: 12px 30px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
#toolbar div:last-child {
  flex-grow: 1;
  text-align: right;
  margin-right: 120px;
}
#toolbar .langPicker {
  padding-right: 1em;
}

section {
  padding: 5px 30px;
  padding-bottom: 50px;
}
section.code {
  display: flex;
}
section.code pre.lineNumbers {
  margin-right: 1em;
  text-align: right;
  opacity: 0.35;
}
section.code pre.lineNumbers code {
  padding-left: 0;
}

.editor section {
  padding: 0;
}

code.hljs {
  padding: 0.5em;
  line-height: normal;
}

form textarea.hljs {
  width: 100%;
  border: 0;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1rem;
  padding: 20px 32px;
  outline-width: 0;
  outline: none;
  flex-grow: 1;
}
form textarea.hljs::placeholder {
  opacity: 0.35;
}

.hljs-title {
  color: #fad000;
  font-weight: normal;
}

.hljs {
  font-family: "Operator Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  display: block;
  overflow-x: auto;
  line-height: 1.45;
  padding: 0.5em;
  font-weight: normal;
  background: #2e3440;
  color: #d8dee9;
}

.hljs-subst {
  color: #d8dee9;
}

.hljs-selector-tag {
  color: #81a1c1;
}

.hljs-selector-id {
  color: #8fbcbb;
  font-weight: bold;
}

.hljs-selector-class, .hljs-selector-attr {
  color: #8fbcbb;
}

.hljs-selector-pseudo {
  color: #88c0d0;
}

.hljs-addition {
  background-color: rgba(163, 190, 140, 0.5);
}

.hljs-deletion {
  background-color: rgba(191, 97, 106, 0.5);
}

.hljs-built_in, .hljs-type, .hljs-class {
  color: #8fbcbb;
}

.hljs-function {
  color: #88c0d0;
}
.hljs-function > .hljs-title {
  color: #88c0d0;
}

.hljs-keyword, .hljs-literal, .hljs-symbol {
  color: #81a1c1;
}

.hljs-number {
  color: #b48ead;
}

.hljs-regexp {
  color: #ebcb8b;
}

.hljs-string {
  color: #a3be8c;
}

.hljs-title {
  color: #8fbcbb;
}

.hljs-params {
  color: #d8dee9;
}

.hljs-bullet {
  color: #81a1c1;
}

.hljs-code {
  color: #8fbcbb;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-formula {
  color: #8fbcbb;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link:hover {
  text-decoration: underline;
}

.hljs-quote, .hljs-comment {
  color: #4c566a;
}

.hljs-doctag {
  color: #8fbcbb;
}

.hljs-meta, .hljs-meta-keyword {
  color: #5e81ac;
}

.hljs-meta-string {
  color: #a3be8c;
}

.hljs-attr {
  color: #8fbcbb;
}

.hljs-attribute {
  color: #d8dee9;
}

.hljs-builtin-name, .hljs-name {
  color: #81a1c1;
}

.hljs-section {
  color: #88c0d0;
}

.hljs-tag {
  color: #81a1c1;
}

.hljs-variable, .hljs-template-variable {
  color: #d8dee9;
}

.hljs-template-tag {
  color: #5e81ac;
}

.abnf .hljs-attribute {
  color: #88c0d0;
}
.abnf .hljs-symbol {
  color: #ebcb8b;
}

.apache .hljs-attribute {
  color: #88c0d0;
}
.apache .hljs-section {
  color: #81a1c1;
}

.arduino .hljs-built_in {
  color: #88c0d0;
}

.aspectj .hljs-meta {
  color: #d08770;
}
.aspectj > .hljs-title {
  color: #88c0d0;
}

.bnf .hljs-attribute {
  color: #8fbcbb;
}

.clojure .hljs-name {
  color: #88c0d0;
}
.clojure .hljs-symbol {
  color: #ebcb8b;
}

.coq .hljs-built_in {
  color: #88c0d0;
}

.cpp .hljs-meta-string {
  color: #8fbcbb;
}

.css .hljs-built_in {
  color: #88c0d0;
}
.css .hljs-keyword {
  color: #d08770;
}

.diff .hljs-meta, .ebnf .hljs-attribute {
  color: #8fbcbb;
}

.glsl .hljs-built_in {
  color: #88c0d0;
}

.groovy .hljs-meta:not(:first-child), .haxe .hljs-meta, .java .hljs-meta {
  color: #d08770;
}

.ldif .hljs-attribute {
  color: #8fbcbb;
}

.lisp .hljs-name, .lua .hljs-built_in, .moonscript .hljs-built_in {
  color: #88c0d0;
}

.nginx .hljs-attribute {
  color: #88c0d0;
}
.nginx .hljs-section {
  color: #5e81ac;
}

.pf .hljs-built_in, .processing .hljs-built_in {
  color: #88c0d0;
}

.scss .hljs-keyword, .stylus .hljs-keyword {
  color: #81a1c1;
}

.swift .hljs-meta {
  color: #d08770;
}

.vim .hljs-built_in {
  color: #88c0d0;
  font-style: italic;
}

.yaml .hljs-meta {
  color: #d08770;
}
